In [1]:
# экспортирую часть данных другог аналитика
import pandas as pd
from io import BytesIO
import requests
r = requests.get('https://docs.google.com/spreadsheets/d/e/2PACX-1vQWMsvBTVio9C7IOOxfFO9C15BRHyME-_ENHqBodDOjuiHwk9fCuF5hUVmDs497PZOqPYK3exdSikOK/pub?gid=1006633900&single=true&output=csv')
data = r.content

df = pd.read_csv(BytesIO(data))

In [2]:
df.head()

         date         browser user_type  users
0  2020-06-15   Google Chrome    People  240.0
1  2020-06-15   Google Chrome    Robots  104.0
2  2020-06-15  Yandex Browser    People   44.0
3  2020-06-15   Chrome Mobile    People   30.0
4  2020-06-15         Firefox    Robots   29.0

In [5]:
types_15th.head()

          browser user_type  visits
0   Google Chrome    People   250.0
1   Google Chrome    Robots   104.0
2  Yandex Browser    People    47.0
3   Chrome Mobile    People    31.0
4         Firefox    Robots    31.0

In [3]:
df_4 = pd.read_csv('step_4_lesson_7.csv')

In [6]:
types_15th = df_4.groupby(['date', 'browser', 'user_type'], as_index = False) \
.agg({'visits': 'sum'}) \
.sort_values('visits', ascending = False) \
.reset_index(drop = True)

In [8]:
types_15th.head()

         date         browser user_type  visits
0  2020-06-15   Google Chrome    People   250.0
1  2020-06-15   Google Chrome    Robots   104.0
2  2020-06-15  Yandex Browser    People    47.0
3  2020-06-15   Chrome Mobile    People    31.0
4  2020-06-15         Firefox    Robots    31.0

In [9]:
# объединяю свою таблицу с таблицей другого аналитика
merge_df = df.merge(types_15th, on = ['date', 'browser', 'user_type'])

In [11]:
merge_df.head()

         date         browser user_type  users  visits
0  2020-06-15   Google Chrome    People  240.0   250.0
1  2020-06-15   Google Chrome    Robots  104.0   104.0
2  2020-06-15  Yandex Browser    People   44.0    47.0
3  2020-06-15   Chrome Mobile    People   30.0    31.0
4  2020-06-15         Firefox    Robots   29.0    31.0

In [20]:
# считаю количество визитов на человека (отношение visits к users) в разрезе по браузеру и значениям Robots/People
merge_df['us_vis'] = round(merge_df['visits'] / merge_df['users'], 0)

In [21]:
merge_df.head()

         date         browser user_type  users  visits  us_vis
0  2020-06-15   Google Chrome    People  240.0   250.0     1.0
1  2020-06-15   Google Chrome    Robots  104.0   104.0     1.0
2  2020-06-15  Yandex Browser    People   44.0    47.0     1.0
3  2020-06-15   Chrome Mobile    People   30.0    31.0     1.0
4  2020-06-15         Firefox    Robots   29.0    31.0     1.0